.btn {
  background-color: $mainOrange;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--LBrown {
    background-color: #FFF;
    color: $mainLBrown;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  &--orange {
    background-color: rgba(255, 128, 0, 0.6);
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  &--large {
    padding: 1.1rem 1.3rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}
