.btn {
  background-color: $mainOrange;
  color: #FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--LBrown {
    background-color: #FFF;
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(203,155,103,0.2) );

    color: $mainLBrown;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  &--orange {
    background-color: rgba(255, 128, 0, 0.6);
    background-image: linear-gradient(rgba(255,128,0,1),rgba(255,255,255,0.4));
    color: #FFF;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  &--large {
    padding: none;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

}
