.generic-paragraph {
  display: block;
  text-align: justify;
  font-size: 1.1rem;
  font-weight: 300;
  padding: 0 0.5em 0.5em 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;

  @mixin atSmall {
    width: 90%;
    line-height: 200%;
    font-size:1.5rem;
  }
}
