.m-c-a {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;

  @mixin atSmall {
    font-size: 2rem;

  }

  &__subtitle {
      font-size: 1.7rem;
      text-align: center;
      padding: none;
      margin: auto;;

    @mixin atSmall {
      font-size: 2.3rem;
    }
  }

  li {
    list-style-type: none;
    }
}
