.purpose-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin atSmall {
    padding-left: 94px;
  }

  &__icon {
    display:block;
    margin: 0 auto;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 500;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @mixin atSmall {
      text-align: left;
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 150%;

    @mixin atSmall {
      font-size: 1.5em;
      font-weight: 500;
    }
  }

  &__description {
    line-height: 120%;
    margin: 0;
    padding: 0 1em 0 0;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: left;;

    @mixin atSmall {
      font-size: 1.4em;
      line-height: 170%;
      font-weight: 220;
      text-align: justify;
    }
  }
}
